
<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Shortcuts</div>

        <!-- Table -->
        <table class="table">
          <tbody>
            <tr>
              <td>
                <a href="<%= url_for controller: "/users", action: "new", role: "admin" %>">Create Admin User</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="<%= url_for controller: "/users", action: "new", role: "head-of-sales" %>">Create Head of Sales User</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="<%= url_for controller: "/users", action: "new", role: "human-resources" %>">Create Human Resource User</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="<%= url_for controller: "/users", action: "new", role: "broker-representative" %>">Create Broker Representative User</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>