<div id="form-errors"></div>

<%= form_for :user, html: { id: "user-form", class: "create", "redirect-url": url_for(action: "index", role: params[:role]) }  do |f| %>
  <%= hidden_field_tag :user_role, @role  %>
  <fieldset>
    <legend>Personal Information</legend>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group"> <!-- Add has-erro tag to indicate error-->
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "form-control", size: "30" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "form-control", size: "30" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :nric %>
          <%= f.text_field :nric, class: "form-control", size: "30" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :date_of_birth %>
          <%= f.text_field :date_of_birth, class: "form-control datepicker", size: "30" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :gender %>
          <div>
            <label class="radio-inline">
              <%= f.radio_button :gender, "Male" %> Male
            </label>
            <label class="radio-inline">
              <%= f.radio_button :gender, "Female" %> Female
            </label>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Login Credentials</legend>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="user_firstname">Email</label>
          <%= f.text_field :email, class: "form-control", size: "30" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="user_lastname">Password</label>
          <%= password_field_tag :password, "", class: "form-control" %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="user_lastname">Password Confirmation</label>
          <%= password_field_tag :password_confirmation, "", class: "form-control" %>
        </div>
      </div>
    </div>
  </fieldset>
  <input type="submit" class="btn btn-primary" value="Save" />
<% end %>