<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp; <%= flash[:notice] %>
    </div>
  <% end %>
  <a href="<%= url_for action: 'new' %>" class="btn btn-default" style="margin: 0 0 10px 0;">Create</a>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><%= @title %></div>
    <table class="table">
      <tr>
        <td>Name</td>
        <% if params[:role] == "broker-representative" %>
          <td>Code</td>
        <% end %>
        <td>Date of Birth</td>
        <td>Email Address</td>
        <td>NRIC/FIN</td>
        <td>Gender</td>
        <td>&nbsp;</td>
      </tr>
      <% if @users %>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <% if params[:role] == "broker-representative" %>
              <td><%= user.code %></td>
            <% end %>
            <td><%= user.date_of_birth.strftime("%d/%m/%Y") if user.date_of_birth %></td>
            <td><%= user.email %></td>
            <td><%= user.nric %></td>
            <td><%= user.gender %></td>
            <td>
              <a href="<%= url_for action: "edit", id: user.id %>">Edit</a>
              &nbsp;|&nbsp;
              <a href="#">Delete</a>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>