<div class="container">
  <div class="col-md-12">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;<%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:warning] %>
    <div class="alert alert-warning alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;<%= flash[:warning] %>
    </div>
  <% end %>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Purchase List</div>
      <table class="table">
        <tr>
          <td>Transaction ID</td>
          <td>Customer</td>
          <td>BR</td>
          <td>Product Name</td>
          <td>Product Price</td>
          <td>Commission</td>
          <td>Portal %</td>
          <td>Commissionable Amount</td>
          <td>&nbsp;</td>
        </tr>
        <% if @purchases %>
          <% @purchases.each do |purchase| %>
            <tr>
              <td>
                <%= purchase.transaction_id %>  
              </td>
              <td>
                <%= purchase.customer.first_name %> <%= purchase.customer.last_name %>
              </td>
              <td>
                <%= purchase.br_profile.first_name %> <%= purchase.br_profile.last_name %>
              </td>
              <td>
                <%= purchase.product_name %> 
              </td>
              <td>
                $<%= number_with_precision(purchase.product_price, precision: 2) %> 
              </td>
              <td>
                $<%= number_with_precision(purchase.commission_amount, precision: 2) %> 
              </td>
              <td>
                <%= number_with_precision(purchase.portal_commission_percentage, precision: 2) %> %
              </td>
              <td>
                $<%= number_with_precision(purchase.commissionable_amount, precision: 2) %> 
              </td>
              <td>
                <a href="<%= url_for action: "show", id: purchase.id %>">View</a>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
  <%= will_paginate @purchases %>
</div>