<div class="container">
  <div class="col-md-12">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;<%= flash[:notice] %>
    </div>
  <% end %>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Purchase Details</div>
      <table class="table">
        <% if @purchase %>
          <tr>
            <td>Transaction ID</td>
            <td>
              <%= @purchase.transaction_id %>  
            </td>
          </tr>
          <tr>
            <td>Customer</td>
            <td>
              <%= @purchase.customer.first_name %> <%= @purchase.customer.last_name %>
            </td>
          </tr>
          <tr>
            <td>Broker Representative</td>
            <td>
              <%= @purchase.br_profile.first_name %> <%= @purchase.br_profile.last_name %>
            </td>
          </tr>
          <tr>
            <td>Product Name</td>
            <td>
              <%= @purchase.product_name %> 
            </td>
          </tr>
          <tr>
            <td>Product Price</td>
            <td>
              $<%= number_with_precision(@purchase.product_price, precision: 2) %> 
            </td>
          </tr>
          <tr>
            <td>Commission</td>
            <td>
              $<%= number_with_precision(@purchase.commission_amount, precision: 2) %> 
            </td>
          </tr>
          <tr>
            <td>Portal Commission Setting</td>
            <td>
              <%= @purchase.portal_commission_percentage %>%
            </td>
          </tr>
          <tr>
            <td>Commissionable Amount</td>
            <td>
              $<%= number_with_precision(@purchase.commissionable_amount, precision: 2) %> 
            </td>
          </tr>
          <tr>
            <td>Introducer Commission</td>
            <td>
              <% if @purchase.introducer_commission_percentage && @purchase.introducer_commission_amount %>
                <%= @purchase.introducer_commission_percentage %>% of 
                $<%= number_with_precision(@purchase.commissionable_amount, precision: 2) %>
                = $<%= number_with_precision(@purchase.introducer_commission_amount, precision: 2) %> 
              <% else %>
                -
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Sales Person Commission</td>
            <td>
              <% if @purchase.sales_person_commission_percentage && @purchase.sales_person_commission_amount %>
                <%= @purchase.sales_person_commission_percentage %>% of 
                $<%= number_with_precision(@purchase.commissionable_amount, precision: 2) %>
                = $<%= number_with_precision(@purchase.sales_person_commission_amount, precision: 2) %> 
              <% else %>
                -
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Insurance Market Commission</td>
            <td>
              <% if @purchase.im_commission_percentage && @purchase.im_commission_amount %>
                <%= @purchase.im_commission_percentage %>% of 
                $<%= number_with_precision(@purchase.commissionable_amount, precision: 2) %>
                = $<%= number_with_precision(@purchase.im_commission_amount, precision: 2) %>
              <% else %>
                -
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
