<% if @setting.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <% @setting.errors.full_messages.each do |msg| %>
      <div><i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;<%= msg %></div>
    <% end %>
  </div>
<% end %>
<%= form_for @setting do |f| %>
  <fieldset>
    <legend><%= title %></legend>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", readonly: "readonly" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <%= f.label :value %>
          <%= f.text_field :value, class: "form-control number", placeholder: "0.00" %>
        </div>
      </div>
    </div>
  </fieldset>
  <input type="submit" class="btn btn-primary" value="Save" />
<% end %>