<div class="container">
  <div class="col-md-12">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;<%= flash[:notice] %>
    </div>
  <% end %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Settings List</div>
      <table class="table">
        <tr>
          <td width="40%">Name</td>
          <td width="40%">Value</td>
          <td width="20%">&nbsp;</td>
        </tr>
        <% if @settings %>
          <% @settings.each do |setting| %>
            <tr>
              <td><%= setting.name %></td>
              <td><%= setting.value %></td>
              <td>
                <a href="<%= url_for action: "edit", id: setting.id %>">Edit</a>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>