<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp; <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Customers</div>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Email Address</th>
        <th>NRIC/FIN</th>
        <th>Gender</th>
        <th>Status</th>
        <th>Request</th>
        <th>&nbsp;</th>
      </tr>
      <% if @customers %>
        <% @customers.each do |user| %>
          <tr>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <td><%= user.date_of_birth.strftime("%d/%m/%Y") if user.date_of_birth %></td>
            <td><%= user.email %></td>
            <td><%= user.nric %></td>
            <td><%= user.gender %></td>
            <td><%= user.status %></td>
            <td><%= user.request %></td>
            <td>
              <% buton_title = user.request == "Change" ? "Change BR" : "Remove BR" %>
              <a href="<%= url_for action: "show", id: user.id %>"><%= buton_title %></a>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <%= will_paginate @customers %>
</div>