<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp; <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Customer Details</div>
    <table class="table">
      <tr>
        <td>Name</td>
        <td><%= @customer.first_name %> <%= @customer.last_name %></td>
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td><%= @customer.date_of_birth.strftime("%d/%m/%Y") if @customer.date_of_birth %></td>
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <td>Gender</td>
        <td><%= @customer.gender %></td>
      </tr>
      <tr>
        <td>Broker Representative</td>
        <td>
          <%= "#{@customer.br_profile.first_name} #{@customer.br_profile.last_name}" if @customer.br_profile %>
        </td>
      </tr>
      <tr>
        <td>Status</td>
        <td><%= @customer.status %></td>
      </tr>
      <tr>
        <td>Assign BR</td>
        <td>
          <form action="<%= url_for action: "assign_br", id: @customer.id %>" class="form-inline" id="assign-br">
            <div class="input-group">
                <select class="form-control" name="br_profile_id">
                  <option value="" selected="selected">Select One</option>
                  <% if @br_profiles %>
                    <% @br_profiles.each do |profile| %>
                      <% selected = "" %>
                      <% if @customer.br_profile %>
                        <% selected = @customer.br_profile.id == profile.id ? "selected=\"selected\"" : "" %>
                      <% end %>
                      <option value="<%= profile.id %>" <%= selected%>><%= profile.first_name %> <%= profile.last_name %></option>
                    <% end %>
                  <% end %>
                </select>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Assign</button>
                </span>
            </div>
          </form>
        </td>
      </tr>
      <% if @customer.br_profile %>
        <tr>
          <td>Remove BR</td>
          <td>
            <form action="<%= url_for action: "remove_br", id: @customer.id %>" id="remove-br">
              <button class="btn btn-danger btn-xs" type="submit">Opt-out</button>
            </form>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>