<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:notice] %>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:alert] %>
        </div>
      <% end %>
      <div class="account-wall">
        <div id="my-tab-content" class="tab-content">
          <div class="tab-pane active" id="login">
            <!-- <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
          alt=""> -->
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" }) do |f| %>
              <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Username" %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end -%>
              <input type="submit" class="btn btn-lg btn-default btn-block" value="Sign In" />
            <% end %>
            <%= render "devise/shared/links" %>
            <!-- <div id="tabs" data-tabs="tabs">
              <p class="text-center"><a href="#register" data-toggle="tab">Need an Account?</a></p>
              <p class="text-center"><a href="#select" data-toggle="tab">Select Account</a></p>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



