<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp; <%= flash[:notice] %>
    </div>
  <% end %>
  <div id="form-errors"></div>
  <%= form_for :br_commission, :url => { :action => "update", user_id: params[:user_id], product_id: params[:product_id] }, html: { id: "commission-form", class: "create", "redirect-url": url_for(action: "index") }  do |f| %>
    <%= hidden_field_tag :user_role, @role  %>
    <fieldset>
      <legend>"<%= @user.first_name %> <%= @user.last_name %>" Commission Settings</legend>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Product</label>
            <input type="text" class="form-control" value="<%= @product.name %>" readonly="readonly" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label>Code</label>
            <input type="text" class="form-control" value="<%= @product.code %>" readonly="readonly" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :introducer_commission, "Introducer (%)" %>
            <% commission = @br_commission.introducer_commission ? @br_commission.introducer_commission : "0.00" %>
            <%= f.text_field :introducer_commission, class: "form-control number", size: "30", placeholder: "0.00", value: commission %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <%= f.label :sales_person_commission, "Sales Person (%)" %>
            <% commission = @br_commission.sales_person_commission ? @br_commission.sales_person_commission : "0.00" %>
            <%= f.text_field :sales_person_commission, class: "form-control number", size: "30", placeholder: "0.00", value: commission %>
          </div>
        </div>
      </div>
    </fieldset>
    <input type="submit" class="btn btn-primary" value="Save" />
  <% end %>
</div>