<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp; <%= flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:warning] %>
    <div class="alert alert-warning alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp;<%= flash[:warning] %>
    </div>
  <% end %>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Broker Representative Users List</div>
    <table class="table">
      <tr>
        <td>Name</td>
        <td>Code</td>
        <td>Email Address</td>
        <td>&nbsp;</td>
      </tr>
      <% if @users %>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.first_name %> <%= user.last_name %></td>
            <td><%= user.code %></td>
            <td><%= user.email %></td>
            <td>
              <a href="<%= url_for action: "show", id: user.id %>">Settings</a>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
</div>