<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <i class="glyphicon glyphicon-exclamation-sign"></i>&nbsp; <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Settings</div>
    <div class="panel-body">
      <fieldset>
        <legend>Personal Information</legend>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Name</label><br />
              <%= @user.first_name %> <%= @user.last_name %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Code</label><br />
              <%= @user.code %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Email</label><br />
              <%= @user.email %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label>Gender</label><br />
              <%= @user.gender %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>Date of birth</label><br />
              <%= @user.date_of_birth.strftime("%d/%m/%Y") if @user.date_of_birth %>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label>NRIC</label><br />
              <%= @user.nric %>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <table class="table table-bordered">
      <tr>
        <% if @products %>
          <% @products.each do |product| %>
            <th colspan="2" class="text-center"><%= product.name %></th>
          <% end %>
        <% end %>
      </tr>
      <tr>
        <% if @products %>
          <% @products.each do |product| %>
            <td>Introducer</td>
            <td>Sales Person</td>
          <% end %>
        <% end %>
      </tr>
      <tr>
        <% if @products %>
          <% @products.each do |product| %>
            <% introducer_commission = "-" %>
            <% sales_person_commission = "-" %>
            <% if @user_commissions %>
              <% @user_commissions.each do |commission| %>
                <% if commission.br_profile_id.to_i == @user.id.to_i && commission.product_id.to_i == product.id.to_i %>
                  <% introducer_commission = commission.introducer_commission.to_f <= 0.00 ? "-" : "#{number_with_precision(commission.introducer_commission, precision: 2)}%" %>
                  <% sales_person_commission = commission.sales_person_commission.to_f <= 0.00 ? "-" : "#{number_with_precision(commission.sales_person_commission, precision: 2)}%" %>
                <% end %>
              <% end %>
            <% end %>
            <td>
              <%= introducer_commission %>
            </td>
            <td>
              <%= sales_person_commission %>
            </td>
          <% end %>
        <% end %>
      </tr>
      <tr>
        <% if @products %>
          <% @products.each do |product| %>
            <td colspan="2" class="text-center">
              <a href="<%= url_for action: "edit", user_id: @user.id, product_id: product.id %>" class="edit-commission">Edit</a>
            </td>
          <% end %>
        <% end %>
      </tr>
    </table>
  </div>
</div>