<!DOCTYPE html>
<html>
  <head>
    <title>BrPortal</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% is_active = is_nav_active ["main"], ["index"] %>
            <li class="<%= is_active ? "active" : "" %>">
              <a href="/">Home</a>
            </li>
            <% if user_signed_in? %>
              <% is_active = is_nav_active ["users"], ["*"] %>
              <li class="dropdown dropdown-submenu <%= is_active ? "active" : "" %>">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users</a>
                <ul class="dropdown-menu">
                  <li><a href="<%= url_for controller: "users", action: "index", role: "admin" %>">Admin</a></li>
                  <li><a href="<%= url_for controller: "users", action: "index", role: "human-resources" %>">Human Resource</a></li>
                  <li><a href="<%= url_for controller: "users", action: "index", role: "head-of-sales" %>">Head of Sales</a></li>
                  <li><a href="<%= url_for controller: "users", action: "index", role: "broker-representative" %>">Broker Representative</a></li>
                </ul>
              </li>
              <% is_active = is_nav_active ["customers"], ["*"] %>
              <li class="dropdown dropdown-submenu <%= is_active ? "active" : "" %>">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Customers</a>
                <ul class="dropdown-menu">
                  <li><a href="<%= url_for controller: "customers", action: "index", status: "existing" %>">Existing</a></li>
                  <li><a href="<%= url_for controller: "customers", action: "index", status: "new" %>">New</a></li>
                  <li><a href="<%= url_for controller: "customers", action: "action_request", action_request: "change" %>">Change Requests</a></li>
                  <li><a href="<%= url_for controller: "customers", action: "action_request", action_request: "opt-out" %>">Opt out Requests</a></li>
                </ul>
              </li>
              <% is_active = is_nav_active ["purchases"], ["*"] %>
              <li class="<%= is_active ? "active" : "" %>">
                <a href="<%= url_for controller: "purchases", action: "index" %>">Purchases</a>
              </li>
              <% is_active = is_nav_active ["commissions"], ["*"] %>
              <li class="<%= is_active ? "active" : "" %>">
                <a href="<%= url_for controller: "commissions", action: "index" %>">Commissions</a>
              </li>
              <% is_active = is_nav_active ["settings"], ["*"] %>
              <li class="<%= is_active ? "active" : "" %>">
                <a href="<%= url_for controller: "settings", action: "index" %>">Settings</a>
              </li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome <%= current_user.loginable.first_name %>!</a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
                  </li>
                </ul>
              </li>
            <% else %>
              <% is_active = is_nav_active ["devise/sessions"], ["new"] %>
              <li class="<%= is_active ? "active" : "" %>">
                <a href="<%= url_for new_user_session_path %>">Login</a>
              </li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <%= show_crumbs(@crumbs) %>
    </div>
    <%= yield %>
  </body>
</html>
